# WPILib
bin/
build/
dist/
sysProps.xml
workbench.xmi

# IDE
*.ipr
*.iml
*.iws
out/
tmp/
.settings/
.loadpath
.project
/.idea
.classpath

# Toast/GradleRIO
run/
.gradle/
gradle/.launch/

# directory for XML generated after running junit tests through ant
junit/
